<!--The content below is only a placeholder and can be replaced.-->
<div>
  <app-menu></app-menu>
</div>
<div Class="container">
  <router-outlet></router-outlet>
</div>
<!--<div   class="card card-block" *ngFor="let joke of jokes">
<h4 class="card-title"
[hidden]="joke.hide" >{{joke.setup |uppercase}}</h4>
<p class="card-text"
  [hidden]="joke.hide">{{joke.punchline |lowercase}}</p>
  <p class="card-text"
  [hidden]="joke.hide">{{joke.punchline | slice:1:9}}</p>
  <p class="card-text"
  [hidden]="joke.hide">{{12455 | currency:'KYD':136}}</p>
  <p class="card-text"
  [hidden]="joke.hide">{{dateval |date:'shortDate'}}</p>
  <p class="card-text"
  [hidden]="joke.hide">{{dateval |date:'fullDate'}}</p>
  <p class="card-text"
  [hidden]="joke.hide">{{dateval |date:'shortTime'}}</p>
  <a class="btn btn-primary"
  (click)="joke.toggle()">Tell Me
</a>
</div>
<p>Child data:{{childData}}</p>
<input type="text"  #ptext (keyup)="0" >
<div>
  <app-home (childEvent)="childData=$event" [pdata]="ptext.value"></app-home>
</div>
<div>
  <P>
    Promise Data Using Async Pipe:
    {{promisedata | async}}
  </P>
</div>
<div>
  <p>
    Observable With Async Pipe
    <br>
    {{observableData|async }}
  </p>
</div>-->



